    /*NAVBAR HERFRA*/

body {
    font-family: 'VT323', monospace;
}
h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 5rem;
    margin: 0;
    color: #fef502;
    text-shadow: 2px 2px 1px #e013a0;
    font-weight: 1;
    padding-top: 90px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
section {
    max-width: 1200px;
    margin: auto;
}
#videologo img {
    width: 75px;
    margin-top: 12px;
    margin-left: 25px;
}

/*NAV BAR STARTER HER*/
nav[role="navbar"] {
    background: #bc3291;
    height: 80px;
    width: 100%;
    position: fixed;
}
nav[role="navbar"] ul {
    float: right;
    margin-right: 20px;
}
nav[role="navbar"] ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav[role="navbar"] ul li a {
    color: #ebff00;
    font-size: 23px;
    padding: 2vw 1vw;
    text-transform: uppercase;
    text-decoration-line: none;
}
a:hover {
    color: #ffffff;
}
.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 940px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 750px) {
    .videoer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 5px;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e6e617;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav[role="navbar"] ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav[role="navbar"] ul li a {
        font-size: 30px;
        color: #bc3291;
    }
    a:hover {
        background: none;
        color: #000000;
    }
    #check:checked ~ ul {
        left: 0;
    }
    /*NAVBAR SLUTTER HER*/
