body {
    background-image: url(billeder/baggrund.png);
    margin: 0;
}

#kolonefar {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;

}

img {
    width: 100%;
}

.Logo_forside {
    padding-bottom: 5vw;
}

.kolone3 {
    text-align: right;
}

nav a{
    text-decoration-line: none;
    display: flex;
    float: none;
    justify-content: center;


}
