img {
    width: 100%;
}

@media only screen and (min-width:600px) {
    section {
        max-width: 1200px;
        margin: auto;
    }
}

body {
    background-image: url(Layer%203%20copy%2014.png);
    margin: 0;
    font-family: 'VT323', monospace;
}

h1 {
    text-align: center;
    font-family: bignoodletitlingregular, sans-serif;
    font-size: 5rem;
    margin: 0;
    color: #fef502;
}

.h2_galleri {
    padding-top: 3vh;
    text-align: center;
}


#billede1 {
    display: block;
    margin-left: inherit;
    margin-right: auto;
    width: 14%;
}

@media (min-width: 600px) {
    #galleri img {
        display: block;
        height: 100%;
        object-fit: cover;

    }

    #galleri .section_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

.h2_galleri {
    padding-top: 3vh;
}

.image1 {
    grid-column: 1/3;
    grid-row: 1/3;

}

.image2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.image3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.image4 {
    grid-column: 3/5;
    grid-row: 2/3;
}

.image5 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.image6 {
    grid-column: 2/5;
    grid-row: 3/5;
}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 10px 10px 10px 10px #d029de;
}


/*NAVBAR HERFRA*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
section {
    max-width: 1200px;
    margin: auto;
}

#videologo img {
    width: 75px;
    margin-top: 12px;
    margin-left: 25px;
}

/*NAV BAR STARTER HER*/

nav {
    background: #bc3291;
    height: 80px;
    width: 100%;
    position: fixed;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #ebff00;
    font-size: 23px;
    padding: 2vw 1vw;
    text-transform: uppercase;

}

a:hover {
    color: #ffffff;
}


.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 915px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 725px) {
    .videoer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 5px;

    }
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e6e617;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

    nav ul li a {
        font-size: 30px;
        color: #bc3291;
    }

    a:hover {
        background: none;
        color: #000000;
    }

    #check:checked ~ ul {
        left: 0;
    }

    /*NAVBAR SLUTTER HER*/





/*
#billede2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#billede3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#billede8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#billede9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede10 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede11 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#billede13 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#billede14 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
*/

/*

* {
    margin: 0;
    padding: 0;
}

.wrapper {

    margin: 0 auto;
    width: 1000px;
}



.background {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 170%;
    background-attachment: fixed;
}

.Logo {
    width: 11vw;
    height: 10vw;
    background-size: cover;
    position: absolute;

}


.h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    @font-face: "DM-80Light.otf";
    position: relative;

}

.actionfigur {
    width: 16vw;
    height: 19vw;
    background-size: cover;
    position: absolute;
    top: 24%;
    left: 36%;
}

.frisoer {
    width: 15vw;
    height: 17vw;
    background-size: cover;
    position: absolute;
    top: 27%;
    left: 52%;
    ;
}

.interioer {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 91.2%;
    left: 67.5%;
}

.interioer2 {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 37%;
    left: 67%;
}

.maskine {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 77%;
    left: 1%;
}

.kunder {
    width: 30vw;
    height: 20vw;
    background-size: cover;
    position: absolute;
    top: 64%;
    left: 36%;
}

.mars-maskine {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 30%;
    left: 2%;
}

.bobbytaler {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 106%;
    left: 31%;

}


.modelklippes {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 123%;
    left: 3%;
}

.butikogklip {
    width: 32vw;
    height: 21vw;
    background-size: cover;
    position: absolute;
    top: 127%;
    left: 59%;
}

.fire {
    width: 32vw;
    height: 3vw;
    background-size: cover;
    position: absolute;
    top: 82%;
    left: 67%;
}

.drage {
    width: 20vw;
    height: 10vw;
    background-size: cover;
    position: absolute;
    top: 7%;
    left: 77%;
}

.heman {
    width: 6vw;
    height: 10vw;
    background-size: cover;
    position: absolute;
    top: 149%;
    left: 44%;
}

.pacman {
    width: 8vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    top: 11%;
    left: 20%;
}
*/
