body {
    background-image: url(backgroundblue.png);
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.videoer{
    display: grid; 1fr 1fr
}
#videologo img{
    width: 75px;
    margin-top: 12px;
    margin-left: 25px;
}

nav {
    background: #bc3291;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #ebff00;
    font-size: 23px;
    padding: 2vw 1vw;
    text-transform: uppercase;

}

a:hover{
    color: #ffffff;
}


.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 915px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 725px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e6e617;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 30px;
        color: #bc3291;
    }
    a:hover{
        background: none;
        color: #000000;
    }

    #check:checked ~ ul{
        left: 0;
    }

}







/*nav[role="third"] a {
    font-family: 'VT323', monospace;
    color: #e6e617;
    text-shadow: 2px 2px 1px #e013a0;
    font-weight: 1;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    text-decoration-line: none;
}

nav[role="third"] a:hover {
    font-family: 'VT323', monospace;
    color: #e6e617;
    text-shadow: 2px 2px 1px #e013a0;
    font-weight: 1;
    font-size: 1.7vw;
    text-transform: uppercase;
    text-align: center;
    text-decoration-line: none;
}

footer{
    text-align: center;
    word-spacing: 1vw;
    margin-top: -2vw;
}*/



@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('fonts/big_noodle_titling-webfont.woff2') format('woff2'), url('big_noodle_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
